$logofont: Verdana, sans-serif
$sitefont: 'PT Sans Narrow', verdana, sans-serif

$font_color: black
$font_color_invert: white
$singnal_color: #449236


body
	margin: 0 auto
	padding: 0
	font-family: $sitefont
	width: 1080px
	display: flex
	flex-direction: column
	justify-content: center

a:link, a:hover, a:visited 
	color: $font_color_invert
	text-decoration: none
a:hover
	text-decoration: underline
header
	background-color: #FDF3F3
	display: flex
	justify-content: space-between
	align-items: center
.logo
	display: flex
	margin-left: 5em
	font-family: $logofont
	font-weight: 800
.logotext
	padding-top: 0.4em
	padding-right: 0.1em
	font-size: 1.6em

.logoCF
	display: flex
	align-items: center
	justify-content: center
	width: 1.7em
	height: 1.7em
	background-color: #bf2524
	color: white
	border-radius: 50%
	font-size: 2em
.ad
	margin: 2% 
nav 
	background-color: #8E1918
	font-size: 22px
	font-weight: 400
	padding:  5px 0px
nav ul
	margin: 0	
nav li, #footernav li
	display: inline
	padding-right: 1em

main
	font-family: $sitefont
	background-color: #CECECE
	background-image: url('../img/traffic-332857_1920.jpg')
	background-repeat: no-repeat
	background-position: top 
	background-size: 1080px 600px
span
	color: darkgrey
span b
	color: $font_color
h1, h2
	margin: 0
	padding-top: 4%	
	font-weight: 300
	font-size: 2em
h3
	margin: 0
	color: #51638E
main > h1
	color: $font_color_invert
	padding-left: 1em
.shield h1
	width: 40%
.shield h2
	width: 60%
.shield
	margin: 2% auto 0
	width: 55%
	height: 550px
	background-color: rgba(255,255,255,.85)
	border: darkgrey solid 2px
	border-radius: 2px
	display: flex
	flex-direction: column
	align-items: center
	text-align: center
form
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	width: 90%

.inputContainer
	display: flex
	flex-direction: column
	text-align: left
	margin: 3% 
	width: 40%
	font-size: 0.8em
	font-weight: 700
.textbox
	margin: 0
	width: 100%
	padding: 4px
.btnCalc
	margin-top: 1em
	padding: 0.3em 3em
	font-size: 1.5em
	background-color: $singnal_color
	color: $font_color_invert
	border-radius: 0.4em
	border-style: none
.output
	visibility: hidden
	padding-top: 2em
	font-size: 2em
	color: $singnal_color
.textfield
	text-align: center
	padding: 0 20%
	padding-bottom: 1em
.tfSubtext
	font-size: 1.4em
section
	display: flex
	flex-wrap: wrap
	justify-content: space-between
section ul
	list-style-image: url('../img/check.jpg')
	padding-left: 1.8em

section li
	padding-bottom: 0.8em
.box
	margin: 6% 4%
	padding: 2%
	width: 38%
	background-color: white
	border-top: solid 2px black
	border-radius: 2px
	box-shadow: 0px 0px 3px gray



footer
	background-color: black
	color: $font_color_invert
	align-items: start

	display: flex
	flex-direction: column
footer .logo	
	margin: 2em
	order: 1
	align-self: flex-end
footer .copy 
	order: 2
	align-self: center
.teampicture
	width: 80%
.memberpic
	background-image: url('../img/altavatar.png')
	background-size: cover
	width: 100%
	height: auto
.picCon
	width: 100%
	padding-top: 100%
	position: relative
.memberpic
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	border-radius: 50%
	
@media screen and (resolution: 292dpi),(orientation:portrait),(max-width: 1080px)
	.logo
		margin: 4% auto 4% 4%
		font-size: 2vh
	.ad
		display: none
	h1
		font-size: 8vh
	h2, h3
		font-size: 4.5vh
	nav
		font-size: 3.5vh
	main
		background-position: top
		background-size: auto 70%
	.shield
		width: 80%
		height: auto !important
	form
		width: 100%
		justify-content: center
	.inputContainer
		width: 80%
		font-size: 4vh
	.textbox
		font-size: 4vh
		height: 7vh
	.btnCalc
		font-size: 5vh
		width: 60%
		padding: 0.3em 
	.output
		font-size: 4.5vh
	section ul
		padding-left: 0
		list-style: none
		list-style-image: none 

	section li:before
		content: "\2713\0020"
		padding-left: 0

	.box
		width: 80%
		margin: 5% 10%
	#footernav
		font-size: 3.5vh

	.copy
		font-size: 2vh